.App {
  min-height: 100vh;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.route-container {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}